body {
	margin: 0;
}
.container {
	margin: 0 auto;
	width: 600px;
	padding: 0 5px;
	overflow: hidden;
	background-color: red;
}
.col {
	width: 33.33%;
	float: left;
	background-color: green;
}
.box {
	height: 200px;
	margin: 0 5px;
	background-color: yellow;
}