body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: #f6f8f8;
}

header,
.navbar {
	background-color: #466cb3;
}

.navbar {
	line-height: 1%;
	margin: 0 auto;
	width: 900px;
}

.navbar-right {
	float: right;
}

.navbar-nav {
	border-left: 1px solid #3d61a1;
	border-right: 1px solid #577bbb;
	display: inline-block;
	overflow: hidden;
}
.navbar-nav a {
	border-left: 1px solid #577bbb;
	border-right: 1px solid #3d61a1;
	box-sizing: border-box;
	color: #fff;
	float: left;
	font-size: 18px;
	line-height: 55px;
	padding: 0 26px;
	text-decoration: none;

	-webkit-transition: all 0.2s ease-in;
	   -moz-transition: all 0.2s ease-in;
	    -ms-transition: all 0.2s ease-in;
	     -o-transition: all 0.2s ease-in;
	        transition: all 0.2s ease-in;
}
.navbar-nav a:hover {
	background-color: #fff;
	border-left-color: #fff;
	border-right-color: #fff;
	color: #446cb3;
}
.navbar-nav a.logo {
	-webkit-transition: none;
	   -moz-transition: none;
	    -ms-transition: none;
	     -o-transition: none;
	        transition: none;
}
.navbar-nav a.logo span {
	background: url(../images/logo.png) no-repeat left top;
	display: inline-block;
	height: 25px;
	width: 20px;
	vertical-align: middle;
}
.navbar-nav a.logo:hover span {
	background-position: right top;
}